*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}
header{
    color: aliceblue;
    display: flex;
    background-color: rgb(41, 41, 115);
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    
}
.form-header{
    width: 40%;
    display: flex;
}
.form-header input {
    height: 40px;
    width: 80%; 
   border-radius: 5px 0 0 5px;
}
.form-header button{
    padding: 12px;
    border-radius: 0 5px 5px 0;
   
}
.nav-header, .nav-header ul{
    display: flex;
    list-style: none;
    gap: 20px;

}

.lista-icone{
    display: none;
}
.div-card {
    border: 1px solid #000000;
    width: 210px;
    /* text-align: center; */
}

.div-card  img {
    width: 80%;
    
}

.section-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.tag-p {
    top: 10px;
    right: 10px;
    /* z-index: -1; */
    position: absolute;
    background-color: #3abf2b;
    width: fit-content;
    padding: 1px 3px;
    border-radius: 10px;
}


.div-img{
    position: relative;
    
}
.div-img {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #e4caca;
    height: 200px;

}

h2 > a {
    font-size: 12px;
}

.div-titulo h1 {
    font-size: 20px;
}

.div-titulo button {
    background-color: #000000;
    color: #aaa2a2;
    width: 25px;
    height: 25px;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 2px;
    border-radius: 50%;
    cursor: pointer;

}

.div-titulo button:hover {
    background-color: rgb(114, 13, 13);
    color: #0000;
    border: 1px solid #000;
}

.div-titulo {
    display: flex;
    justify-content: space-between;
}

.div-texto {
    padding: 10px;
}
.span-valor {
    font-size: 28px;
    font-weight: 600;
}
/* widthb<= 995 ou (max width: 998px) */
@media screen  and (width <= 998px){
    header{

        flex-wrap: wrap;
    }
    form-header{
        order: 2;
        width: 100%;
    }
    .form-header input{
        width: 120%;
    }
    .lista-icone{
        display: inline;
    }
    
    }
    .lista-links li {
        display: none;
    }
